{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <form id="search" class="col-10 offset-1 form-group d-flex">
              <input type="text" name="key" id="data" class="form-control" placeholder="Search" aria-describedby="helpId">
              <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table table-bordered table-striped">
                <tbody id="write-json">
                </tbody>
            </table>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped table-inverse mt-5">
        <tbody>
            <tr>
                <td>id</td>
                <td>Sarlavha</td>
                <td>Math</td>
                <td>Vaqt</td>
            </tr>
            {% for data in Data %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.text}}</td>
                    <td>{{data.createData}}</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
<script type="text/javascript">
$(document).on('click' , '#data' , () => {
    $('#search').submit()
})
    $(document).on('submit' , '#search' , (event) => {
        event.preventDefault()
        $(document).on('keyup' , '#data' , (event) => {
            $.ajax({
                type:"GET",
                url:"{% url 'search'%}",
                data:{
                    search:$('#data').val()
                },
                success:(data) => {
                    let template = ``
                    for(jsonData of data.data) {
                       template +=  `    
                            <a href=post/${jsonData.id} class='d-block'>
                                <div class="alert alert-danger" role="alert">
                                        <strong>${jsonData.title}</strong> 
                                </div>
                            </a>               
                        `
                    }
                    $("#write-json").html(template)
                }
            })
        })
    })
    
</script>
{% endblock %}